<h2>Add Product</h2>
<form action="/add_product" method="post">
    <label for="name">Produto:</label>
    <input type="text" id="name" name="name"><br>
    <label for="price">Preco:</label>
    <input type="text" id="price" name="price"><br>
    <label for="price">Desconto:</label>
    <input type="text" id="discount" name="discount"><br>
    <label for="checkbox">Visivel? : </label>
    <input type="checkbox" name="checkbox" id="checkbox" value="True">
    <br/>
    <input type="submit" value="Add Product">
</form>
