<!doctype html>
<html lang="en">
  <head>
  	<title>VivaBairro</title>
    <meta charset="utf-8">
	<meta name="author" content="Daniel Mendes">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	
	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<a href="/"><h2 class="heading-section">VivaBairro</h2></a>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Bem Vindo!</h2>
								<p>Não possui uma conta?</p>
								<a href="{{url_for('register')}}" class="btn btn-white btn-outline-white">Cadastre-se</a>
							</div>
			      </div>
						<div class="login-wrap p-4 p-lg-5">
			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4">Entrar</h3>
			      		</div>
								<div class="w-100">
									<p class="social-media d-flex justify-content-end">
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
										<a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
									</p>
								</div>
			      	</div>
							<form action="{{ url_for('login') }}" method="POST" id="loginForm" class="signin-form">
								<div class="form-group mb-3">
									<label class="label" for="username">Usuário</label>
									<input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
								</div>
						  <div class="form-group mb-3">
							<label class="label" for="password">Senha</label>
							<input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
						</div>
		            <div class="form-group"> 
		            	<button type="submit" class="form-control btn btn-primary submit px-3">Entrar</button>
		            </div>
		            <div class="form-group d-md-flex">
		            	<div class="w-50 text-left">
			            	<label class="checkbox-wrap checkbox-primary mb-0">Lembrar-me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
										</label>
									</div>
									<div class="w-50 text-md-right">
										<a href="#">Esqueceu a senha?</a>
									</div>
									
		            </div>
					<div><p id="error-message"></p></div>
		          </form>
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/popper.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script>
        $(document).ready(function() {
            $('#loginForm').on('submit', function(event) {
                event.preventDefault(); // Prevent default form submission

                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: $(this).serialize(),
                    success: function(response) {
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    },
                    error: function(response) {
                        $('#error-message').text(response.responseJSON.error);
                    }
                });
            });
        });
    </script>
	</body>
</html>

