<h2>Todos os produtos</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preco</th>
        </tr>
    </thead>
    <tbody>
        {% if products %}
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="2">Nenhum produto disponível</td>
            </tr>
        {% endif %}
    </tbody>
</table>
